

<% if @feed_items.any? %>
<div class="row" >
  <ol class="microposts">
  	<div class="col-md-4" style="border-style: dashed;">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
  </div>

    <%= render partial: 'shared/feed_item', collection: @feed_items %>

  </ol>
  <%= will_paginate @feed_items %>

  <% else %>

  <ol class="microposts">
  	<div class="col-md-4" style="border-style: dashed;">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      </ol>
  </div>
<% end %>

</div>
